In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [ ]:
##Exercise 1

In [2]:
M = 13.20
sigma = 2.50
n = 40   #(Z test)
mu = 12.20
aplha = 0.01

In [3]:
z=(mu-M)/(sigma/np.sqrt(n))
z

-2.5298221281347035

In [4]:
p_val=stats.norm.cdf(z)
p_val

0.005706018193000826

In [5]:
alpha=0.01
if p_val<alpha :
  print("reject the null")
else:
  print("fail to reject the null")

reject the null

In [ ]:
#Exercise 2

In [7]:
df_soil = pd.read_csv("soil - Sheet1.csv")
df_soil.head()

   Soil1  Soil2
0  1.442  1.364
1  1.943  1.878
2  1.110  1.337
3  1.912  1.828
4  1.553  1.371

In [8]:
df_soil.Soil1.isnull().sum()

5

In [9]:
df_soil.Soil2.isnull().sum()

0

In [10]:
Soil1_n=df_soil.Soil1[df_soil.Soil1.notnull()]

In [14]:
n1=len(Soil1_n)
n1

30

In [12]:
n2=len(df_soil.Soil2)
n2

35

In [15]:
ind_soil = stats.ttest_ind(Soil1_n, df_soil.Soil2)
ind_soil

Ttest_indResult(statistic=5.1681473319343345, pvalue=2.593228732352821e-06)

In [16]:
alpha=0.01
if p_val<alpha :
  print("reject the null")
else:
  print("fail to reject the null")

reject the null

In [ ]:
##Exercise 3

In [17]:
df_pisa = pd.read_csv("2015 PISA Test - Sheet1.csv")
df_pisa

,Country Code,Continent_Code,internet_users_per_100,Math,Reading,Science
0,ALB,EU,63.252933,413.1570,405.2588,427.2250
1,ARE,AS,90.500000,427.4827,433.5423,436.7311
2,ARG,SA,68.043064,409.0333,425.3031,432.2262
3,AUS,OC,84.560519,493.8962,502.9006,509.9939
4,AUT,EU,83.940142,496.7423,484.8656,495.0375
...,...,...,...,...,...,...
65,TUN,AF,48.519836,366.8180,361.0555,386.4034
66,TUR,EU,53.744979,420.4540,428.3351,425.4895
67,URY,SA,64.600000,417.9919,436.5721,435.3630
68,USA,NaN,74.554202,469.6285,496.9351,496.2424
69,VNM,AS,43.500000,494.5183,486.7738,524.6445

In [18]:
df_pisa.head()

,Country Code,Continent_Code,internet_users_per_100,Math,Reading,Science
0,ALB,EU,63.252933,413.1570,405.2588,427.2250
1,ARE,AS,90.500000,427.4827,433.5423,436.7311
2,ARG,SA,68.043064,409.0333,425.3031,432.2262
3,AUS,OC,84.560519,493.8962,502.9006,509.9939
4,AUT,EU,83.940142,496.7423,484.8656,495.0375

In [19]:
df_pisa.describe()

       internet_users_per_100        Math     Reading     Science
count               70.000000   70.000000   70.000000   70.000000
mean                71.973099  460.971557  460.997291  465.439093
std                 16.390632   53.327205   49.502679   48.397254
min                 21.976068  327.702000  346.549000  331.638800
25%                 60.899020  417.416075  426.948625  425.923375
50%                 72.999350  477.607150  480.199850  475.400050
75%                 85.026763  500.482925  499.687475  502.431250
max                 98.200000  564.189700  535.100200  555.574700

In [20]:
df_pisa.describe().T

,count,mean,std,min,25%,50%,75%,max
internet_users_per_100,70.0,71.973099,16.390632,21.976068,60.899020,72.99935,85.026763,98.2000
Math,70.0,460.971557,53.327205,327.702000,417.416075,477.60715,500.482925,564.1897
Reading,70.0,460.997291,49.502679,346.549000,426.948625,480.19985,499.687475,535.1002
Science,70.0,465.439093,48.397254,331.638800,425.923375,475.40005,502.431250,555.5747

In [21]:
df_pisa.groupby("Continent_Code").describe().T

Continent_Code                        AF          AS          EU          OC  \
internet_users_per_100 count    2.000000   17.000000   37.000000    2.000000
                       mean    43.359918   68.455613   77.274888   86.391704
                       std      7.297226   21.086060   12.425773    2.589686
                       min     38.200000   21.976068   53.744979   84.560519
                       25%     40.779959   50.300000   68.632900   85.476112
                       50%     43.359918   74.000000   76.184000   86.391704
                       75%     45.939877   84.948353   87.479056   87.307296
                       max     48.519836   92.884826   98.200000   88.222889
Math                   count    2.000000   17.000000   37.000000    2.000000
                       mean   363.212100  466.216647  477.981449  494.559750
                       std      5.099513   64.356490   35.150403    0.938401
                       min    359.606200  380.259000  371.311400  493.896200
                       25%    361.409150  403.833200  464.040100  494.227975
                       50%    363.212100  459.816000  489.728700  494.559750
                       75%    365.015050  531.296100  503.722000  494.891525
                       max    366.818000  564.189700  521.250600  495.223300
Reading                count    2.000000   17.000000   37.000000    2.000000
                       mean   355.457400  454.059682  476.164608  506.085650
                       std      7.916909   57.048962   37.720545    4.504341
                       min    349.859300  346.549000  351.741500  502.900600
                       25%    352.658350  408.102200  452.514300  504.493125
                       50%    355.457400  433.542300  487.250100  506.085650
                       75%    358.256450  508.690500  499.814600  507.678175
                       max    361.055500  535.100200  526.424700  509.270700
Science                count    2.000000   17.000000   37.000000    2.000000
                       mean   381.074250  467.945847  478.299381  511.648700
                       std      7.536556   56.671371   34.450616    2.340241
                       min    375.745100  386.485400  383.682400  509.993900
                       25%    378.409675  417.611200  460.774900  510.821300
                       50%    381.074250  456.483600  490.225000  511.648700
                       75%    383.738825  523.277400  501.936900  512.476100
                       max    386.403400  555.574700  534.193700  513.303500

Continent_Code                        SA
internet_users_per_100 count    7.000000
                       mean    60.180494
                       std      9.772455
                       min     40.900000
                       25%     57.116462
                       50%     64.289000
                       75%     66.321532
                       max     69.198471
Math                   count    7.000000
                       mean   402.887700
                       std     18.128894
                       min    377.069500
                       25%    388.102200
                       50%    409.033300
                       75%    417.617650
                       max    422.671400
Reading                count    7.000000
                       mean   425.359229
                       std     19.709688
                       min    397.541400
                       25%    416.126900
                       50%    425.303100
                       75%    431.922700
                       max    458.570900
Science                count    7.000000
                       mean   421.747186
                       std     18.470319
                       min    396.683600
                       25%    408.205450
                       50%    424.590500
                       75%    433.794600
                       max    446.956100

In [23]:
df_pisa[df_pisa.Continent_Code=="EU"]["Math"].isnull().sum()

0

In [24]:
df_pisa[df_pisa.Continent_Code=="AS"]["Math"].isnull().sum()

0

In [25]:
n1 = len(df_pisa[df_pisa.Continent_Code == "EU"])
n1

37

In [26]:
n2 = len(df_pisa[df_pisa.Continent_Code == "AS"])
n2

17

In [28]:
ind_pisa= stats.ttest_ind(df_pisa[df_pisa.Continent_Code=="EU"]["Math"],df_pisa[df_pisa.Continent_Code=="AS"]["Math"])
ind_pisa

Ttest_indResult(statistic=0.870055317967983, pvalue=0.38826888111307345)

In [31]:
t_pisa=ind_pisa.statistic
t_pisa

0.870055317967983

In [34]:
df = n1 + n2 - 2
df

52

In [35]:
p_value=2*(1-stats.t.cdf(t_pisa,df))
p_value

0.38826888111307345

In [36]:
alpha=0.05  
if p_value<alpha :
  print("reject the null")
else:
  print("fail to reject the null")

fail to reject the null